<div class="background title-background parsons-image">
  <div class="background-overlay"></div>
  <header class="intro-header">
    <h1>Who we are</h1>
  </header>
</div>

<div class="full-bleed-container background-spacer">
  <div class="container pane">
    <div class="section six columns right">
      <div class="section-header">
        Akil Gibbons
      </div>
      <div class="bio-position">
        Director, Producer <span class="location">(New York, NY)</span>
      </div>
      <p class="bio">
        Akil Gibbons is outreach manager for The House I Live In, a Sundance and Peabody award-winning documentary about the war on drugs and prison industrial complex. Paper City was Akil’s senior thesis at Hampshire College, where he studied socio-political science and filmmaking and worked as a middle school tutor in the city of Holyoke. Working for The House I Live In, Akil has piloted training courses for judges and attorneys in New York state, organized hundreds of screenings in schools and prisons nationwide, and developed curricula with the documentary for alternatives to youth detention programs in New York, NY.
      </p>
    </div>
    <div class="section six columns">
      <div class="image-container">
        <img width="100%" src="/images/michelle.jpg">
        <div class="caption">
          Director, Producer, and HIPP educator Akil Gibbons
          with Michelle Obama in 2012
        </div>
      </div>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="/images/andres-bio.jpg">
        <div class="caption">
          Music Director and Producer Andrés Feliciano with his
          City Year New Orleans team at Green Charter School in 2012
        </div>
      </div>
    </div>
    <div class="section six columns">
      <div class="section-header">
        Andrés Feliciano
      </div>
      <div class="bio-position">
        Producer, Music Director <span class="location">(New Orleans, LA)</span>
      </div>
      <p class="bio">
        Native of New Orleans and Atlanta, Andrés began working on Paper City as a student of history and African American studies at Oberlin College & Conservatory, where he engaged the hip hop community as a DJ, performer, and organizer. While scoring Paper City with five other student musicians, Andrés took on the role of Producer for the film, and began tutoring at a local middle school. After graduating in 2012, he returned to his childhood home of New Orleans to serve as a City Year corps member and work in film and music production.
      </p>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns right">
      <div class="section-header">
        Bang Vu Pham
      </div>
      <div class="bio-position">
        Curriculum Coordinator <span class="location">(Boston, MA)</span>
      </div>
      <p class="bio">
        Bang studied urban education at Hampshire College and worked as a tutor and program director at the Teen Resource Project with Iesha Ramos and Akil Gibbons. Once he graduated in 2013, Bang chose to return home and serve as a City Year corps member in Boston, Massachusetts. He incorporated his experience as a Help Increase the Peace educator to better inform his service building a graduation pipeline in his community. Bang is currently a Donovan Urban Teaching Scholar at Boston College, pursuing a masters degree in Moderate Special Needs.
      </p>
    </div>
    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="/images/bangobama.jpg">
        <div class="caption">
          Curriculum Coordinator Bang Pham, HIPP educator and City Year Boston alum,
          with President Barack Obama in 2013
        </div>
      </div>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns">
      <div class="film-container">
        <iframe width="100%" src="https://www.kickstarter.com/projects/611313084/paper-city-stop-the-school-to-prison-pipeline/widget/video.html" frameborder="0" scrolling="no"> </iframe>
      </div>
    </div>
    <div class="section six columns">
      <header class="section-header">
        Kickstarter
      </header>
      <p>
        We recently completed a successful <a href="https://www.kickstarter.com/projects/611313084/paper-city-stop-the-school-to-prison-pipeline">kickstarter campaign</a> to make this website and everything on it. Our heartfelt thanks go out to all of our amazing backers who made this all possible. Names of our supporters will be posted here when we officially launch in May. In the meantime, check out the campaign for more info! Thank you!
      </p>
    </div>
  </div>

  <div class="pane container scroll">
    <div class="section six columns">
      <header class="pane-header">
        Get in touch with us
      </header>
      <div class="social-media-links">
        <a class="social-media-link" target="_blank" href="https://www.facebook.com/papercitymovie">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="social-media-link" target="_blank" href="https://twitter.com/papercitymovie">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="social-media-link" target="_blank" href="https://instagram.com/papercitymovie">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="/images/festivals/iprhff.jpg">
        <div class="caption">
          International Puerto Rican Heritage Film Festival - New York, NY - November 2014
        </div>
      </div>
    </div>
  </div>
</div>
