<div class="background-container">
  <div class="background ciscff-image"></div>
</div>

<header class="intro-header screen-height">
  <h1>Who we are</h1>
  <div class="intro-sub-header">and what we are doing</div>
</header>

<div class="title-page-spacer pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      The Film
    </header>
    <p>
      Paper City is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, Paper City follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
  </div>
</div>

<div class="image-pane pane">
  <div class="image-container">
    <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/festivals/a3c.jpg">
    <div class="caption">
      A3C Hip Hop Festival - Atlanta, GA - October 2014
    </div>
  </div>
  <div class="image-container">
    <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/festivals/globalpeace.jpg">
    <div class="caption">

    </div>
  </div>
</div>

<div class="pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      Kickstarter
    </header>
    <p>
      Maybe describe the kickstarter? Thank people.
    </p>
  </div>
</div>

<div class="image-pane pane screen-height">
  <div class="image-container">
    <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/festivals/iprhff.jpg">
    <div class="caption">
      International Puerto Rican Heritage Film Festival - New York, NY - November 2014
    </div>
  </div>
  <div class="image-container">
    <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/festivals/nohoiff.jpg">
    <div class="caption">
      Northampton International Film Festival - Northampton, MA - October 2014
    </div>
  </div>
</div>

<div class="pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      Credits
    </header>
    <p>
      Brief bio of everyone involved?
    </p>
  </div>
</div>

<div class="pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      Get in touch with us
    </header>
    <div class="social-media-links">
      <a class="social-media-link" target="_blank" href="https://www.facebook.com/papercitymovie">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="social-media-link" target="_blank" href="https://twitter.com/papercitymovie">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="social-media-link" target="_blank" href="https://instagram.com/papercitymovie">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
