<div class="background-container">
  <div class="background evanshs-image"></div>
  <div class="background background-overlay"></div>
</div>

<header class="intro-header">
  <h1>HELP INCREASE THE PEACE</h1>
  <div class="intro-sub-header">JOIN THE MOVEMENT</div>
</header>

<div class="full-bleed-container background-spacer">
  <div class="container">
    <div class="section twelve columns" style="margin-top: 0">
      <p>
        Paper City serves to continue the legacy of Dr. King by building a network of communities working together towards greater peace.
      </p>
      <p>
        Join this growing movement by sharing experiences with #papercity and #helpincreasethepeace on social media OR email us at papercityproject@gmail.com
      </p>
    </div>
  </div>
  <div class="container">
    <div class="six columns tumblr-section">
      <%= tumblrContent %>
    </div>
    <div class="six columns">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/PaperCityMovie" data-widget-id="573286108529729536">Tweets by @PaperCityMovie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
