<div class="background-container">
  <div class="background summeracademy-image"></div>
</div>

<header class="intro-header">
  <h1>Teaching Peace</h1>
  <div class="intro-sub-header">Engaging with Paper City</div>
</header>

<div class="full-bleed-container background-spacer">
  <div class="pane container">
    <div class="six columns section">
      <header class="section-header">
        Help Increase the Peace Project
      </header>
      <p>
        The Help Increase the Peace Project (HIPP) is a youth leadership program created by the Nobel Peace Prize-winning American Friends Service Committee (AFSC) in 1991. HIPP is an interactive program made to address issues of interpersonal violence, prejudice, and injustice with participants of all ages, especially middle- and high-school age youth.
      </p>
      <p>
        HIPP uses examples from participants’ own life experiences, the news, and history to cultivate the power of decision-making, alternatives to violence, and the belief that we are all agents of positive social change.
      </p>
    </div>

    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/teaching/eastsidehs.jpg">
        <div class="caption">
          Students write their responses for the Paper City/HIPP lesson "What Is the School-to-Prison Pipeline?" at Edward A. Reynolds West Side High School in New York, NY - November 2014
        </div>
      </div>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/teaching/orlandohs.jpg">
        <div class="caption">
          Paper City director/producer Akil Gibbons runs the lesson "Where Do We Go From Here: Chaos or Community?" with students at Dr. Phillips High School in Orlando, FL - September 2014
        </div>
      </div>
    </div>

    <div class="section six columns">
      <header class="section-header">
        City Year
      </header>
      <p>
        City Year is an education-focused Americorps program purposed to combat the dropout crisis directly by building a graduation pipeline in over 200 schools in 25 US cities. City Year trains 17-24 year-old high school and college graduates to work in high needs schools as full-time tutors, mentors, and role models to help students with attendance, behavior, and coursework in math and English—pivotal factors toward graduation.
      </p>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns">
      <header class="section-header">
        We need your help
      </header>
      <p>
        If you are an educator, or someone passionate about social justice, we want to hear from you! We need feedback on our curriculum. We want to hear about how <i>you</i> are engaging. Link to the PDF.
      </p>
    </div>

    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/teaching/paideiahs.jpg">
        <div class="caption">
          Students at The Paideia School in Atlanta, GA line up for a Paper City high school assembly screening and Q&amp;A - October 2014
        </div>
      </div>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/teaching/success.jpeg">
        <div class="caption">
          Students participate in the activity "Who Am I?" afterschool at Evans High School in Orlando, FL - September 2014
        </div>
      </div>
    </div>
    <div class="section six columns">
      <iframe src="https://docs.google.com/forms/d/1_UXd5THCWI080ISoielZT7pawq58HttyyX4dXsAJ66Y/viewform?embedded=true" width="100%" height="800px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</div>
