<div class="background-container">
  <div class="background summeracademy-image"></div>
</div>

<header class="intro-header">
  <h1>Teaching Peace</h1>
  <div class="intro-sub-header">Engaging with Paper City</div>
</header>

<div class="full-bleed-container background-spacer">
  <div class="pane container">
    <div class="section six columns">
      <a href="/documents/PaperCityProgram-3.13.15.pdf" target="_blank">
        <div class="image-container curriculum-cover">
          <img width="100%" src="http://gabeisman.github.io/papercity/images/curriculum-cover.jpg">
          <div class="curriculum-cover-caption">
            Click here to download the curriculum
          </div>
        </div>
      </a>
    </div>

    <div class="six columns section">
      <header class="section-header">
        Paper City Curriculum
      </header>
      <p>
        The <i>Paper City Curriculum</i> is composed of customized Help Increase the Peace (HIPP) lessons that incorporate the film's characters and themes as source material, and use City Year's values and graduation pipeline model to inspire youth to achieve the American Dream through education and social justice.
      </p>
    </div>
  </div>

  <div class="pane container">
    <div class="six columns section right">
      <header class="section-header">
        Help Increase the Peace Project
      </header>
      <p>
        The Help Increase the Peace Project (HIPP) is a youth leadership program created by the Nobel Peace Prize-winning American Friends Service Committee (AFSC) in 1991. HIPP is an interactive program made to address issues of interpersonal violence, prejudice, and injustice with participants of all ages, especially middle- and high-school age youth.
      </p>
      <p>
        HIPP uses examples from participants’ own life experiences, the news, and history to cultivate the power of decision-making, alternatives to violence, and the belief that we are all agents of positive social change.
      </p>
    </div>

    <div class="section six columns">
      <div class="image-container">
        <img width="100%" src="http://gabeisman.github.io/papercity/images/afsc-logo.jpg">
      </div>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/city-year-patch.jpg">
      </div>
    </div>

    <div class="section six columns">
      <header class="section-header">
        City Year
      </header>
      <p>
        City Year is an education-focused Americorps program purposed to combat the dropout crisis directly by building a graduation pipeline in over 200 schools in 25 US cities. City Year trains 17-24 year-old high school and college graduates to work in high needs schools as full-time tutors, mentors, and role models to help students with attendance, behavior, and coursework in math and English—pivotal factors toward graduation.
      </p>
    </div>
  </div>

  <div class="pane container">
    <div class="section six columns right">
      <header class="section-header">
        We need your help
      </header>
      <p>
        If you are an educator, or someone passionate about social justice, we want to hear from you! We need feedback on our curriculum. We want to hear about how <i>you</i> are engaging. <a class="access-link">Click here for early access to our free program</a>.
      </p>
    </div>

    <div class="section six columns">
      <div class="image-container">
        <img class="teaching-image" width="100%" src="http://gabeisman.github.io/papercity/images/teaching/success.jpg">
        <div class="caption">
          Students participate in the activity "Who Am I?" afterschool at Evans High School in Orlando, FL - September 2014
        </div>
      </div>
    </div>
  </div>
</div>
