<div class="background ciscff-image"></div>

<header class="intro-header screen-height">
  <h1>Paper City</h1>
  <div class="intro-sub-header">The film</div>
</header>

<div class="title-page-spacer pane screen-height film-pane">
  <div class="film-watch-pane">
    <div class="film-container">
      <div class="film-inner-container">
        <iframe id="watch-iframe" src="//player.vimeo.com/video/85227106?color=ffb728" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="chapters">
      <ul class="chapter-list">
        <li class="chapter" data-video-url="//player.vimeo.com/video/59859181?color=1f3340&title=0&byline=0&portrait=0">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">The American Dream</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              We introduce you to Holyoke, a city where Puerto Rican immigrants
              embody the American Dream. More text to make this too long for the box.
              embody the American Dream. More text to make this too long for the box.
            </div>
          </div>
        </li>
        <li class="chapter">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Pursuit of Happiness</span>
            <span class="chapter-duration">(3:45)</span>
          </div>
        </li>
        <li class="chapter">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">School System</span>
            <span class="chapter-duration">(3:45)</span>
          </div>
        </li>
        <li class="chapter">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Drug Economy</span>
            <span class="chapter-duration">(3:45)</span>
          </div>
        </li>
        <li class="chapter">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">War on Drugs</span>
            <span class="chapter-duration">(3:45)</span>
          </div>
        </li>
        <li class="chapter">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Prison Industrial Complex</span>
            <span class="chapter-duration">(3:45)</span>
          </div>
        </li>
        <li class="chapter">
          <img src="/images/thumbnail.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Chaos or Community</span>
            <span class="chapter-duration">(3:45)</span>
          </div>
        </li>
      </ul>
  </div>
</div>
