<div class="background-container">
  <div class="background fire-image"></div>
  <div class="background background-overlay"></div>
</div>

<header class="intro-header">
  <h1>Paper City</h1>
  <div class="intro-sub-header">The film</div>
</header>

<div class="background-spacer pane film-pane">
  <div class="film-watch-pane container">
    <div class="film-container nine columns">
      <div class="film-inner-container">
        <iframe id="watch-iframe" src="<%= vimeoUrl %>" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div id="curriculum-content">
        <div class="film-description">
          <header class="film-description-header">
            This is a story of the American Dream in one of the nation’s arson capitals
          </header>
          <p>
            <i>Paper City</i> began from interviews with middle school students who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of mass incarceration in order to make it to graduation.
          </p>
          <p>
            In response, a community of teachers, law officers, activists, and politicians created <i>Paper City</i> for youth to understand these issues and realize their power to determine the future in America.
          </p>
          <p>
            <i>Paper City</i> is divided into 7 chapters that address specific points within the school-to-prison pipeline along with corresponding Help Increase the Peace (HIPP) lessons and activities.
          </p>
          <p>
            These interactive lessons engage middle school, high school, and adult audiences
            in active discussion about socio-economics, community empowerment, restorative justice, and the power of decision-making.
          </p>
        </div>
      </div>
      <div class="access-container">
        <a class="access-link">Don't have the password? Click here for free access</a>
      </div>
    </div>
    <div class="chapters three columns">
      <ul class="chapter-list">
        <li class="chapter" data-video-id="119059448">
          <img src="/images/thumbs/american-dream.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">The American Dream</span>
            <span class="chapter-duration">(3:39)</span>
            <div class="chapter-description">
              Through the examples of Irish and Puerto Rican immigration into Holyoke, participants will question: <b>what is the American Dream</b>?
            </div>
          </div>
        </li>
        <li class="chapter" data-video-id="119060790">
          <img src="/images/thumbs/pursuit-of-happiness.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Pursuit of Happiness</span>
            <span class="chapter-duration">(5:30)</span>
            <div class="chapter-description">
              In this lesson, participants will explore how they have the power to <b>achieve the American Dream</b> through education and social justice.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-id="119061107">
          <img src="/images/thumbs/school-system.jpeg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">School System</span>
            <span class="chapter-duration">(9:45)</span>
            <div class="chapter-description">
              School systems provide <b>opportunity</b> for upward mobility but suffer from socio-economic <b>disparities</b>. Here, participants will explore what it means to counteract social and economic <b>inequality</b>.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-id="119062445">
          <img src="/images/thumbs/drug-economy.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Drug Economy</span>
            <span class="chapter-duration">(8:01)</span>
            <div class="chapter-description">
              This violent, illegal, industry provides <b>economic mobility</b> in low-income communities. Participants will learn to recognize the <b>root causes of violence</b> and find non-violent solutions to conflict.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-id="120338542">
          <img src="/images/thumbs/war-on-drugs.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">War on Drugs</span>
            <span class="chapter-duration">(5:28)</span>
            <div class="chapter-description">
              Police forces are fighting America’s longest running war in low-income communities. Here, participants will explore how <b>violence</b> works through discriminatory <b>law</b>.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-id="119653722">
          <img src="/images/thumbs/prison-industrial-complex.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Prison Industrial Complex</span>
            <span class="chapter-duration">(1:08)</span>
            <div class="chapter-description">
              Prisons outrank schools for public funding. With this lesson, participants will question decision-making on a larger level: <b>why is society making these choices?</b>
            </div>
          </div>
        </li>
        <li class="chapter" data-video-id="119653920">
          <img src="/images/thumbs/chaos-or-community.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Chaos or Community</span>
            <span class="chapter-duration">(8:16)</span>
            <div class="chapter-description">
              What will you put your power towards—Chaos or Community? In this lesson, participants will recognize that <b>they each have power</b> to make choices and <b>determine the future of America</b>.
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
