<div class="background-container">
  <div class="background ciscff-image"></div>
</div>

<header class="intro-header screen-height">
  <h1>Paper City</h1>
  <div class="intro-sub-header">The film</div>
</header>

<div class="background-spacer pane screen-height film-pane">
  <div class="film-watch-pane">
    <div class="film-container">
      <div class="film-inner-container">
        <iframe id="watch-iframe" src="//player.vimeo.com/video/119016461?color=ffb728&portrait=0&title=0&byline=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="curriculum-content">
      <div class="film-description">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      </div>
      </div>
    </div>
    <div class="chapters">
      <ul class="chapter-list">
        <li class="chapter" data-video-url="//player.vimeo.com/video/119059448?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/american-dream-thumb.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">The American Dream</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              We introduce you to Holyoke, a city where Puerto Rican immigrants
              embody the American Dream. More text to make this too long for the box.
              embody the American Dream. More text to make this too long for the box.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-url="//player.vimeo.com/video/119060790?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/pursuit-of-happiness-thumb.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Pursuit of Happiness</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-url="//player.vimeo.com/video/119061107?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/school-system-thumb.jpeg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">School System</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-url="//player.vimeo.com/video/119062445?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/drug-economy-thumb.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Drug Economy</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-url="//player.vimeo.com/video/119059448?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/fire-thumb.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">War on Drugs</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-url="//player.vimeo.com/video/119059448?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/fire-thumb.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Prison Industrial Complex</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </li>
        <li class="chapter" data-video-url="//player.vimeo.com/video/119059448?color=ffb728&portrait=0&title=0&byline=0">
          <img src="/images/thumbs/fire-thumb.jpg" class="chapter-thumbnail">
          <div class="chapter-text">
            <span class="chapter-title">Chaos or Community</span>
            <span class="chapter-duration">(3:45)</span>
            <div class="chapter-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>
