<!-- Fixed content -->
<div class="background summeracademy-image"></div>
<div class="background bangobama-image"></div>
<div class="background paideia-image"></div>
<div class="background success-image"></div>
<div class="background sticker-image"></div>


<header class="intro-header screen-height">
  <h1>Paper City</h1>
  <div class="intro-sub-header">Your power will change the world</div>
</header>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      This is a story about the American Dream
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane info-pane screen-height scroll">
  <header class="pane-header">
    The School-to-Prison Pipeline
  </header>
  <div class="inner-pane container">
    <div class="info-viz dropout-rate four columns">
      <div class="info-centerpiece">50%</div>
      <div class="info-caption">
        of the million students who drop out every year come from
         <span class="info-emph">12% of schools</span>.
      </div>
    </div>
    <div class="info-viz incarceration-rate four columns">
      <div class="info-centerpiece">8x</div>
      <div class="info-caption">
        increased likelihood that a student who drops out will go to
         <span class="info-emph">prison</span>.
      </div>
    </div>
    <div class="info-viz unemployment-rate four columns">
      <div class="info-centerpiece">3x</div>
      <div class="info-caption">
        increased likelihood that a student who drops out will be
         <span class="info-emph">unemployed</span>.
      </div>
    </div>
  </div>
</div>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      The Graduation Pipeline
    </header>
    <p>
      <emph>Paper City</emph> was designed to help youth, youth mentors, and educators to counteract the school-to-prison pipeline. <a class="text-link" href="http://www.cityyear.org/" target="_blank">City Year</a> is an education-focused Americorp program purposed to combat the dropout crisis- a critical component of the school to prison pipeline- by training young high school and college graduates to tutor and mentor students in over 200 schools in 25 cities.
    </p>
    <p>
      The graduation pipeline is integral to the <emph>Paper City</emph> program, which incorporates City Year’s values, Critical Reflection Cycle, and leadership model to facilitate Paper City’s Help Increase the Peace lessons.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      Help Increase the Peace Project
    </header>
    <p>
      Paper City is divided into “chapter” segments that address specific points within the school-to-prison pipeline. Each of these chapters is coupled with corresponding lessons that combine activities from Help Increase the Peace with Paper City’s content, and use City Year’s leadership development tools. These lessons are intended to engage middle and high school age audiences with issues of restorative justice, socio-economics, and community empowerment to counteract the school-to-prison pipeline. The central message of Paper City is this: you have power, and your power will change the world.
    </p>
    <p>
      The Help Increase the Peace Project (HIPP) is a youth leadership program created by the Nobel Peace Prize-winning American Friends Service Committee (AFSC) in 1991. HIPP is an interactive program made to address issues of interpersonal violence, prejudice, and injustice with participants of all ages, especially middle- and high-school age youth.
    <p>
      HIPP uses examples from participants’ own life experiences, the news, and history to cultivate the power of decision-making, alternatives to violence, and the belief that we are all agents of positive social change.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      Your power will change the world
    </header>
    <p>
      Watch the movie. Check out the program. Stay in touch with us!
    </p>
    <div class="social-media-links">
      <a class="social-media-link" target="_blank" href="https://www.facebook.com/papercitymovie">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="social-media-link" target="_blank" href="https://twitter.com/papercitymovie">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="social-media-link" target="_blank" href="https://instagram.com/papercitymovie">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
