<!-- Fixed content -->
<div class="background summeracademy-image"></div>
<div class="background bangobama-image"></div>
<div class="background paideia-image"></div>
<div class="background success-image"></div>
<div class="background sticker-image"></div>


<header class="intro-header screen-height">
  <h1>Paper City</h1>
  <div class="intro-sub-header">Your power will change the world</div>
</header>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      This is a story about the American Dream
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane info-pane screen-height scroll">
  <header class="pane-header">
    The School-to-Prison Pipeline
  </header>
  <div class="info-container">
    <div class="info-viz dropout-rate">
      <div class="info-centerpiece">50%</div>
      <div class="info-caption">
        of the million students who drop out every year come from
         <span class="info-emph">12% of schools</span>.
      </div>
    </div>
    <div class="info-viz incarceration-rate">
      <div class="info-centerpiece">8x</div>
      <div class="info-caption">
        increased likelihood that a student who drops out will go to
         <span class="info-emph">prison</span>.
      </div>
    </div>
    <div class="info-viz unemployment-rate">
      <div class="info-centerpiece">3x</div>
      <div class="info-caption">
        increased likelihood that a student who drops out will be
         <span class="info-emph">unemployed</span>.
      </div>
    </div>
  </div>
</div>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      Help Increase the Peace Project
    </header>
    <p>
      This paragraph will be about HIPP.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      The Curriculum
    </header>
    <p>
      Describe the curriculum briefly and how it uses the film as a starting point.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height scroll">
  <div class="inner-pane">
    <header class="pane-header">
      Your power will change the world
    </header>
    <p>
      Tell them what we want them to do. Check out the curriculum. Teach some kids. Share their story on social media.
    </p>
    <div class="social-media-links">
      <a class="social-media-link" target="_blank" href="https://www.facebook.com/papercitymovie">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="social-media-link" target="_blank" href="https://twitter.com/papercitymovie">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="social-media-link" target="_blank" href="https://instagram.com/papercitymovie">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
