<header class="intro-header screen-height">
  <h1>Paper City</h1>
  <div class="intro-sub-header">Your power will change the world</div>
</header>

<div class="title-page-spacer pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      This is a story about the American Dream
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      The School-to-Prison Pipeline
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      Help Increase the Peace Project
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      Our Curriculum
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>

<div class="title-page-spacer pane screen-height">
  <div class="inner-pane">
    <header class="pane-header">
      Your power will change the world
    </header>
    <p>
      <emph>Paper City</emph> is a feature-length documentary about the American Dream and the school-to-prison pipeline—the nationwide phenomenon in which high school dropout rates coincide with mass incarceration of urban youth. Set in Holyoke, Massachusetts, a post-industrial city once known for its thriving paper industry, <emph>Paper City</emph> follows Iesha Ramos, a college student born and raised in Holyoke who returns to her old middle school every day to run her afterschool program for arts and leadership, the Teen Resource Project.
    </p>
    <p>
      <emph>Paper City</emph> started from interviews with these students, who must navigate booming drug economies, struggling school systems, gang warfare, and unprecedented rates of incarceration to make it to graduation. <emph>Paper City</emph> reveals these issues firsthand in a visually and musically driven experience that incorporates the perspectives of community leaders—teachers, law officers, activists, and politicians—for youth to understand these issues and the power they have as individuals to make a choice about the future.
    </p>
  </div>
</div>
