.tumblr_posts {
  list-style: none;
  overflow-y: scroll;
  max-height: 800px;
  margin: auto;
}

.tumblr_post img {
  float: left;
  margin: 10px;
  max-width: 100% !important;
}

.tumblr_post {
  @include clearfix();
  font-size: 0.8em;
  border-bottom: 1px solid #444;
  padding: 15px;
  margin: 30px 0 10px 0;
}

.tumblr_post:first-child {
  img {
    margin-top: 0;
  }
}

.tumblr_title {
  font-weight: bold;
  font-size: 1.1em;
}

.tumblr-section {
  background-color: #333;
  border-radius: 5px;
  border: 1px solid #444;
  margin-bottom: 60px;
  padding: 15px 0;
}
