body {
  color: $textColor;
  background-color: $backgroundColor;
  font-family: "Open Sans",arial,sans-serif;
  max-width: 100%;
}

body.modal-open {
  overflow: hidden;
}

#content-pane {
  @include box-sizing(border-box);
  max-width: 100%;
}

p {
  margin: 25px 0;
}

a, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: $highlightColor;
  cursor: pointer;
}

a:hover {
  color: $highlightColor;
}

.intro-header {
  font-size: 2em;
  font-weight: 800;
  /* Maybe fix this with JS? */
  position: fixed;
  top: 0;
  left: 0;
  height: 400px;
  padding-top: 250px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: -1;
}

.intro-sub-header {
  color: $textColorDarker;
  font-size: 0.6em;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

.pane {
  @include box-sizing(border-box);
  background-color: $backgroundColor;
  width: 100%;
  padding: 50px 25px;
}

.background-spacer {
  margin-top: 600px;
}

.inner-pane {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.pane-header {
  width: 100%;
  color: $highlightColor;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.white {
  color: #fff;
}

.centered {
  text-align: center;
}

.section {
  margin-top: 60px;
}

.section-header {
  color: $highlightColor;
  font-size: 1.3em;
  font-weight: 300;
}

.full-bleed-container {
  @include box-sizing(border-box);
  background-color: $backgroundColor;
  width: 100%;
}

.background-container {
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.background {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
/*  filter: brightness(65%);
  -webkit-filter: brightness(65%);
*/  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.social-media-links {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  font-size: 3em;
  height: 60px;
  letter-spacing: -10px;
}

.social-media-link {
  @include transition(all 0.25s linear);
  color: $textColor;
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 60px;
}

.social-media-link:visited {
  color: $textColor;
}

.social-media-link:hover {
  color: $highlightColor;
}

.pane.image-pane,
.pane.info-pane {
  padding: inherit 0;
}

.image-container {
  @include box-sizing(border-box);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.caption {
  @include transition(all 0.25s linear);
  @include box-sizing(border-box);
  padding: 10px;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-container:hover > .caption {
  background-color: $backgroundColor;
}

.fire-image {
  background-image: image-url("fire.jpg");
}

.sticker-image {
  background-image: image-url("sticker.jpg");
}

.success-image {
  background-image: image-url("teaching/success.jpg");
}

.paideia-image {
  background-image: image-url("teaching/paideiahs.jpg");
}

.bangobama-image {
  background-image: image-url("bangobama.jpg");
}

.summeracademy-image {
  background-image: image-url("teaching/summeracademy.jpg");
}

.ciscff-image {
  background-image: image-url("festivals/ciscff.jpg");
}

.background-overlay {
  background-color: $backgroundColor;
  opacity: 0.5;
}

#page-footer {
  text-align: center;
  padding: 50px 0;
  background-color: $secondaryBgColor;
  /* Made visible by js after the rest of the page has rendered. */
  opacity: 0;
}

.footer-link {
  color: $textColorDarker;
  font-weight: 300;
  text-decoration: none;
  margin: 0 15px;
}

.footer-link:visited {
  color: $textColorDarker;
}
