body {
  color: $textColor;
  background-color: $backgroundColor;
  font-family: "Open Sans",arial,sans-serif;
  max-width: 100%;
}

#content-pane {
  @include box-sizing(border-box);
  max-width: 100%;
}

p {
  margin: 25px 0;
}

.intro-header {
  @include transition(opacity 0.25s linear);
  font-size: 2em;
  font-weight: 800;
  /* Maybe fix this with JS? */
  position: fixed;
  top: 0;
  left: 0;
  height: 400px;
  padding-top: 250px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: -1;
}

.intro-sub-header {
  color: $textColorDarker;
  font-size: 0.6em;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

.pane {
  @include box-sizing(border-box);
  background-color: $backgroundColor;
  width: 100%;
  padding: 50px 25px;
}

.title-page-spacer {
  margin-top: 600px;
}

.inner-pane {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.pane-header {
  width: 100%;
  color: $highlightColor;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.background {
  background-size: 100%;
  bottom: 0;
/*  filter: brightness(65%);
  -webkit-filter: brightness(65%);
*/  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.social-media-links {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  font-size: 3em;
  height: 60px;
}

.social-media-link {
  @include transition(all 0.25s linear);
  color: $textColor;
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 60px;
}

.social-media-link:visited {
  color: $textColor;
}

.social-media-link:hover {
  color: $highlightColor;
}

.pane.image-pane,
.pane.info-pane {
  padding: inherit 0;
}

.image-container {
  @include box-sizing(border-box);
  display: inline-block;
  width: 49.5%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 900px) {
  .image-container {
    display: block;
    width: 100%;
    margin: 25px 0;
  }
}

.caption {
  @include transition(all 0.25s linear);
  @include box-sizing(border-box);
  padding: 10px;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-container:hover > .caption {
  background-color: $backgroundColor;
}

.sticker-image {
  background-image: image-url("sticker.jpeg");
}

.success-image {
  background-image: image-url("teaching/success.jpeg");
}

.paideia-image {
  background-image: image-url("teaching/paideiahs.jpg");
}

.bangobama-image {
  background-image: image-url("bangobama.jpg");
}

.summeracademy-image {
  background-image: image-url("teaching/summeracademy.jpg");
}

.ciscff-image {
  background-image: image-url("festivals/ciscff.jpg");
}

#page-footer {
  text-align: center;
  padding: 50px 0;
  background-color: $secondaryBgColor;
  /* Made visible by js after the rest of the page has rendered. */
  opacity: 0;
}

.footer-link {
  color: $textColorDarker;
  text-decoration: none;
  margin: 0 15px;
}

.footer-link:visited {
  color: $textColorDarker;
}
