.poster-image {
  background: image-url("poster.jpg") no-repeat;
  background-size: 100%;
}

.film-watch-pane {
  position: relative;
  margin-top: 40px;
}

.film-container {
  @include box-sizing(border-box);
  display: inline-block;
}

.film-inner-container {
  @include box-sizing(border-box);
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: (9 / 16) * 100%;
}

.film-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.curriculum-content {
  padding: 50px 0;
  font-size: 0.9em;
  font-weight: 300;
  font-color: $textColorDarker;
}

.chapters-header {
  text-align: center;
}

.chapter-list {
  @include clearfix;
  list-style: none;
}

.chapter {
  @include box-sizing(border-box);
  @include transition(background-color 0.3s ease-in-out);
  padding: 10px;
  position: relative;
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.chapter:hover {
  background-color: $secondaryBgColor;
}

.chapter-thumbnail {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.chapter-text {
  @include box-sizing(border-box);
  line-height: 1.2em;
  font-size: 0.8em;
  max-height: 6em;
  width: 68%;
  display: inline-block;
  padding: 0 0.6em 0 15px;
  text-align: left;
  overflow-y: hidden;
}

@media (max-width: 940px) and (min-width: 550px) {
  .chapter-thumbnail {
    display: none;
  }

  .chapter-text {
    width: 100%
  }
}

.chapter-title {

}

.chapter-description {
  width: 100%;
  color: #bbb;
}

.chapter-duration {
  color: $textColorDarker;
  font-weight: 300;
  font-size: 11px;
}
