.film-watch-pane {
  position: relative;
  margin-top: 40px;
}

.curriculum-content p {
  font-size: 0.9em;
  font-weight: 300;
  color: $textColorDarker;
}

.film-description {}

.film-description-header {
  font-weight: 300;
  font-style: italic;
  font-size: 1.3em;
  padding-top: 50px;
  text-align: center;
  color: $textColor;
}

.chapter-list {
  @include clearfix;
  list-style: none;
}

.chapter {
  @include box-sizing(border-box);
  @include transition(background-color 0.3s ease-in-out);
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  padding-bottom: 56%;
  max-width: 300px;
  overflow-y: hidden;
}

.chapter.active,
.chapter:hover {
  .chapter-description {
    margin-top: -15px;
    display: block;
  }
  .chapter-title,
  .chapter-duration {
    @include animation(fade-out 0.2s ease-in 0s normal 1 both);
  }
  .chapter-text {
    background-color: rgba(30,30,30, 0.7);
    top: 0;
    bottom: 0;
  }
}

.chapter-thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chapter-text {
  @include transition(all 0.2s ease-in);
  @include box-sizing(border-box);
  position: absolute;
  background-color: rgba(30,30,30, 0.5);
  line-height: 1.6em;
  font-size: 0.8em;
  top: 50%;
  left: 0;
  width: 100%;
  display: inline-block;
  padding: 0 0.6em 0 15px;
  text-align: center;
}

.chapter-title {

}

.chapter-description {
  @include transition(margin-top 0.2s ease-in);
  width: 100%;
  color: #bbb;
  display: none;
  font-size: 0.9em;
}

.chapter-duration {
  color: $textColorDarker;
  font-weight: 300;
  font-size: 11px;
}

.access-container {
  margin: 20px 0;
  text-align: center;
}

.film-pane .access-link {
  font-size: 1em;
}

a.exercise-page-num {
  color: $textColorDarker;
}

.laurels {
  width: 100%;
}
