.poster-image {
  background: image-url("poster.jpg") no-repeat;
  background-size: 100%;
}

.film-pane {
  padding: 50px;
}

.film-watch-pane {
  position: relative;
  margin-top: 40px;
}

.film-container {
  @include box-sizing(border-box);
  display: inline-block;
  width: 70%;
}

.film-inner-container {
  @include box-sizing(border-box);
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: (9 / 16) * 100%;
}

.film-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chapters {
  @include box-sizing(border-box);
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 30%;
  padding-left: 20px;
}

.chapters-header {
  text-align: center;
}

.chapter-list {
  @include clearfix;
  list-style: none;
}

.chapter {
  @include box-sizing(border-box);
  @include transition(background-color 0.3s ease-in-out);
  padding: 10px;
  position: relative;
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.chapter:hover {
  background-color: $secondaryBgColor;
}

.chapter-thumbnail {
  display: inline-block;
  width: 30%;
}

.chapter-text {
  @include box-sizing(border-box);
  line-height: 1.2em;
  font-size: 0.8em;
  max-height: 6.6em;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6em 0.6em 0 15px;
  text-align: left;
  overflow-y: hidden;
}

.chapter-title {

}

.chapter-description {
  width: 100%;
  color: #bbb;
}

.chapter-duration {
  color: $textColorDarker;
  font-weight: 300;
  font-size: 11px;
}
