#popup-container {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup-overlay {
  background-color: $backgroundColor;
  opacity: 0.8;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup-header {
  position: relative;
  padding: 15px 50px 0 50px;
}

.popup-title {
  color: $highlightColor;
  margin-bottom: 0;
}

.popup-description {
  margin: 10px 0;
  line-height: 1.2em;
  color: rgb(140,140,140);
}

.popup {
  display: inline-block;
  position: absolute;
  background-color: $backgroundColor;
  width: 800px;
  max-width: 100%;
  z-index: 2;
  max-height: 80%;
  @include box-shadow(
    -2px -2px 2px 1px rgba(255,255,255,0.1),
    2px 2px 2px 1px rgba(255,255,255,0.1));
}

.popup-exit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.popup-exit:hover {
  color: $highlightColor;
}

