$backgroundColor:     #111;
$secondaryBgColor:    #222;
$highlightColor:      #FFB728;
$textColorDarker:     #ddd;
$secondaryHighlight:  #39F2F2;
$textColor:           #fff;
$borderColor:         #999;
