body {
  color: #fff;
  background-color: #111;
  font-family: "Open Sans",arial,sans-serif;
  max-width: 100%;
}

#content-pane {
  box-sizing: border-box;
  max-width: 100%;
}

p {
  margin: 25px 0;
}

.intro-header {
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  font-size: 2em;
  font-family: "Open Sans",sans-serif;
  font-weight: 800;
  /* Maybe fix this with JS? */
  position: fixed;
  top: 0;
  left: 0;
  height: 400px;
  padding-top: 250px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: -1;
}

.intro-sub-header {
  color: #ddd;
  font-size: 0.6em;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

.pane {
  background-color: #000;
  box-sizing: border-box;
  width: 100%;
  padding: 50px 25px;
}

.title-page-spacer {
  margin-top: 600px;
}

.inner-pane {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.pane-header {
  width: 100%;
  color: #FFB728;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

#top-nav {
  box-sizing: border-box;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  opacity: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 300;
  text-transform: uppercase;
  clear: both;
  padding: 0 10px;
  z-index: 100;
}

.nav-item {
  transition: color 0.25s linear;
  -webkit-transition: color 0.2s linear;
  text-align: center;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  float: right;
  padding: 0 10px;
  cursor: pointer;
}

.nav-item:hover {
  color: #FFB728;
}

.nav-item.logo {
  float: left;
  font-weight: 800;
}

.background {
  background-image: url("../images/sticker.jpeg");
  background-size: 100%;
  bottom: 0;
/*  filter: brightness(65%);
  -webkit-filter: brightness(65%);
*/  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.pane.image-pane {
  padding: 0;
}

.image-container {
  display: inline-block;
  width: 49.5%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .image-container {
    display: block;
    width: 100%;
    margin: 25px 0;
  }
}

.caption {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  box-sizing: border-box;
  padding: 10px;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-container:hover > .caption {
  font-size: 1em;
  background-color: #000;
}

.social-media-links {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  font-size: 3em;
  height: 60px;
}

.social-media-link {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 60px;
}

.social-media-link:visited {
  color: #fff;
}

.social-media-link:hover {
  color: #FFB728;
}
